.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# OS related

# Apple
.DS_Store

# IDE related

# Intellij
.idea/
*.iml
out/


